[submodule "modules/01_creative"]
	path = modules/01_creative
	url = https://github.com/EricYale/people-visualizer
[submodule "modules/02_creative"]
	path = modules/02_creative
	url = https://github.com/EricYale/GameCabinet
[submodule "modules/03_creative"]
	path = modules/03_creative
	url = https://github.com/EricYale/judgment-zoo
[submodule "modules/04_creative"]
	path = modules/04_creative
	url = https://github.com/ericyale/ouija-gpt
[submodule "modules/final_project"]
	path = modules/final_project
	url = https://github.com/michaelcanudas/CPSC-3340-Final-Project
